*
{
    margin: 0px;
    padding: 0px;
}
.container
{
    margin: 10px 50px 0px 50px;
    /* background-color: aqua; */
   
}
.container-fluid
{
    margin-bottom: 10px;
}
.menu-link
{
    font-size: 18px;
    text-transform: capitalize;
text-decoration: none
}
.menu-item
{
    margin: 10px;
}
.menu
{ width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #526D82;
    color: aliceblue;
    position: fixed;
}
.menu-item>a:visited
{
color: aliceblue;
}
.side-bar
{ margin-top:40px ;
    width: 20%;
    background-color:#9DB2BF;
    height: 95vh;
    position: fixed;
}
.content
{ margin-left: 20%;
    width: 80%;
    background-color:#DDE6ED;
    padding: 10px;
    margin-top: 40px;
    /* height: 100vh; */
    padding-bottom: 50px;
    /* overflow:scroll; */
    /* overflow-wrap: break-word; */
    /* overflow-y: scroll; */
}
.main-contect
{
    display: flex;
}
.footer
{
    background-color: #9DB2BF;
    width: 80%;
    margin-left: 20%;
    height: 500px;
}
.side-menu
{
    
margin: 10px;
width: 100%;
margin-left: 45%;
list-style: none;

}
.side-menu>li>a:link,.side-menu>li>a:visited
{
        font-size: 18px;
        text-transform: capitalize;
        text-decoration: none;
        color: #27374D;
        
    }
    .side-menu>li
    {   margin-top: 20px;
        padding-bottom: 30px;
    }
.img-1
{
    background-image: url("../img/ocen.jpg");
    width: 100%;
    margin-left: 80px;
    background-repeat:no-repeat;
    overflow-wrap: break-word;
    padding: 10px;
 

}
.img-1>p{
    margin-top:35% ;
   /* border: 2px solid black; */
   width: 80%;
   padding: 5px;
   color: #0b131e;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
   text-transform: capitalize;
}
h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 20px;
    text-decoration: underline;
}
.p-3
{
    width:100% ;
}